@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/**
 * @property {color} --background - Defines the background color for the light theme.
 * - In light mode: #ffffff (white)
 * @property {color} --foreground - Defines the foreground (text) color for the light theme.
 * - In light mode: #171717 (very dark gray)
 */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/**
 * @media (prefers-color-scheme: dark)
 * Defines CSS custom properties for dark mode, applied when the user's system
 * prefers a dark color scheme.
 *
 * @property {color} --background - Overrides the background color for the dark theme.
 * - In dark mode: #0a0a0a (almost black)
 * @property {color} --foreground - Overrides the foreground (text) color for the dark theme.
 * - In dark mode: #ededed (very light gray)
 */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


